#top {
    display: grid;
    grid-template-columns: 6fr 2fr;
    height: 10vw;
    min-height: 10vw;

    border-bottom: solid gray;
    margin-bottom: 2vw;

    text-align: center;

    font-size: 4vw;
}

#check_box {
    display: grid;   
    grid-template-columns: 2fr 2fr;

    font-size: 8vw;
}

#proposal_script {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.proposal_title {
    font-size: 12vw;
    font-style: normal;
    
}